@model Product

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdateProductToDatabase", "Product", "Post"))
{
    <input asp-for="driverID" type="hidden" value="@Model.driverID" />

    <label  class="control-label">Name</label>

    <input asp-for="Name" type="text" name="Name" class="form-control" value="@Model.Name" />

    <label  class="control-lable">Strokes Gained</label>

    <input asp-for="StrokesGained" type="text" name="Strokes Gained" class="form-control" />

    <label  class="control-lable">Total Distance Rank</label>

    <input asp-for="TotalDistanceRank" type="text" name="Total Distance Rank" class="form-control" value="@Model.TotalDistanceRank" />

    <label  class="control-lable">Forgivness Rank</label>

    <input asp-for="ForgivenessRank" type="text" name="ForgivnessRank" class="form-control" value="@Model.ForgivenessRank" />

    <label  class="control-label">Price</label>

    <input asp-for="Price" type="number" step="0.01" name="Price" class="form-control" value="@Model.Price" />

    <input type="submit" value="Update Product" class="btn btn-primary" />

}


